body {
    overflow: hidden;
    font-family: Consolas, Monaco, monospace;
    background: linear-gradient(to right, #D1347B 30%, #093573 95%);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 53, 115, 0.5);
}

.icon-logo-img, img {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: inline-block;
}

.container1-quadrado, .container2-quadrado, .container3-quadrado {
    display: flex;
    justify-content: center;
}

.container1-quadrado .quadrado,
.container2-quadrado .quadrado,
.container3-quadrado .quadrado {
    width: 100px;
    height: 100px;
    background-color: rgba(9, 53, 115, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: rgba(9, 53, 115, 0.0);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container-pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -7%;
}

.container-jogadores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
    margin-bottom: 20px;
}

.container-info-jogadores {
    display: inline-block;
    padding: 50px;
    border: 1px solid white;
    border-radius: 2%;
    margin-top: -8%;
    color: white;
    width: 20%;
}

.jogador1, 
.jogador2, 
.vencedor {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.button-class {
    text-align: center;
}

button {
    background-color: transparent;
    font-size: 20px;
    margin-top: 5%;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20%;
    padding: 10px;
    margin-right: 80px;
    margin-left: 80px;
}

.jogador-icon {
    width: 150px;
    height: 150px;
}

p {
    margin-top: 30px;
    text-align: center;
}

.tituloTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 245);
}

